html,body,#root{
  height:100%;
  background-color: #0d1117;
}

.show {
  display: block;
}

.hidden {
  display: none;
}


.main-title{
  color:#58a6ff;
  font-size:22px; 
  margin: 20px;
  height: 30px;
}

.item {
  border: 1px solid;
  /* width: 180px; */
  border-radius: 5px;
  cursor: move;
  margin: 12px;
  background: #161b22;
}

.item.active {
  box-shadow: 0 0 5px 0 #b3b3b3;
  border: 1px solid #0268dd;
  /* border-style: dashed; */
}
.item-header {
  font-size: 12px;
  color: #9e9e9e;
  padding: 2px 3px;
}
.item-content {
  padding: 7px;
  font-size: 14px;
  color: #dbdbdb;
  min-height: 36px;
  max-height: 56px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.item-header-octicon{
  color: #ffff;
}

/* .item-header-point {
  background: #ccc;
  float: right;
  padding: 0 4px;
  min-width: 10px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
} */

.item-note-textarea {
  margin: 5px;
  height: 78px;
  resize: vertical;
  width: 92%;
  padding-top: 12px;
  padding-left: 12px;
  font-size: 14px;
  color:white;
  background-color: #0d1117;
  border: 0px solid;
  border-radius: 6px;
  outline:none;
}

.btn-primary {
  margin: 6px;
  width: 125px;
  height: 25px;
  color:white;
  background-color: #238636;
  border-color: #49bb5d;
  border-radius: 6px;
  outline:none;
}

.btn-blue {
  margin: 6px;
  width: 125px;
  height: 25px;
  color:white;
  background-color: #232425;
  border-color: #363434;
  border-radius: 6px;
  outline:none;
}

.col-header-adder {
  float: right;
  padding: 0 4px;
  min-width: 10px;
  text-align: right;
  font-size: 18px;
  color: rgb(74, 105, 243);
  cursor:pointer;
}


.col {
  border: 1px solid #3a3a3d;
  flex-grow: 1;

  margin: 0 10px;
  background: #06090f;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 355px;
  border-width: 1px!important;
  border-radius: 12px!important;
}
.col-header {
  height: 40px;
  line-height: 40px;
  /* background: #1DA921; */
  color: #fff;
  font-size: 14px;
  text-align: left;
}

.col-header-point {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #c9d1d9;
  text-align: center;
  background-color:#30363d;
  border: 1px solid transparent;
  border-radius: 12em;
  margin-left: 8px;
  margin-right: 4px;
  display: inline-block;
  width: 18px;
}

.col-main {
  overflow: auto;
  flex-grow: 1;
}
.col-main.active {
  /* background: #19234d; */
  opacity: 0.1;
}
.task-wrapper {

  padding: 12px;
  display: flex;
  height:98%;
  width: 1240px;
  height: 850px;
}